div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="#")
                | College Football Picks
            div.nav-collapse.collapse
                ul.nav#tabs(data-tabs="tabs")
                    li
                        a(href="#bigboard", data-toggle="tab") BigBoard
                    li
                        a(href="#mypicks", data-toggle="tab") MyPicks
                    li
                        a(href="#contact", data-toggle="tab") Contact
