div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            
            div.nav-collapse.collapse
                ul.nav#tabs(data-tabs="tabs")
                    li
                        a.brand(href="#index", data-toggle="tab", class="active") College Football Picks
                    li
                        a(href="#bigboard", data-toggle="tab") BigBoard
                    li
                        a(href="#mypicks", data-toggle="tab") MyPicks
                    li
                        a(href="#contact", data-toggle="tab") Contact

            - if (everyauth.loggedIn)
                a(href="/logout") logout
            - else
                a(href="/login") login
