div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="#index")
                | College Football Picks
            div.nav-collapse.collapse
                ul.nav#tabs(data-tabs="tabs")
                    li
                        a(href="#bigboard") BigBoard
                    li
                        a(href="#mypicks") MyPicks
                    li
                        a(href="#contact") Contact

            - if (everyauth.loggedIn)
                a(href="/logout") logout
            - else
                a(href="/login") login
