extends layout

block content
    div.container
        h1 Welcome!
        p We hope you enjoy the hippest football pool website ever.
    div.tab-content.container
        div#bigboard.tab-pane
        div#mypicks.tab-pane
        div#contact.tab-pane
            p
                a(href='mailto:luisguillen@austin.utexas.edu') Luis Guillen
            p
                a(href='mailto:koneill@austin.utexas.edu') Kyle O'Neill