!!!
html(lang='en')
    head
        block head
            block title
                title CFPicks
            block meta
                meta(name='description', content='')
                meta(name='keywords', content='')
                meta(name="viewport", content="width=device-width, initial-scale=1.0")
            link(rel='stylesheet', href='/css/bootstrap.min.css', media="screen")
            | <style>
            | body { padding-top: 60px; }
            | </style>
            script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
            link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
            link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')
            link(rel='stylesheet', href='/css/social-buttons.css')
            link(rel='stylesheet', href='/css/style.css')
            script(src='/js/lib/bootstrap.min.js')

      body

          block header
            div.navbar.navbar-inverse.navbar-fixed-top
                div.navbar-inner
                    div.container
                        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.brand
                            | College Football Picks
                        div.nav-collapse.collapse
                            ul.nav#tabs(data-tabs="tabs")
                                li
                                    a(href="mailto:luisguillen@austin.utexas.edu") -contact admin-

          block content
            div.container
                div.span12

                    div.span4
                        div.row
                            p.text-info Login with your favorite social network...
                        a.btn.btn-large.btn-block.btn-facebook(href="auth/facebook")
                            i.icon-facebook  | Connect with Facebook
                        a.btn.btn-large.btn-block.btn-twitter(href="auth/twitter")
                            i.icon-twitter  | Connect with Twitter
                        a.btn.btn-large.btn-block.btn-google-plus(href="auth/google")
                            i.icon-google-plus  | Connect with Google+
                        a.btn.btn-large.btn-block.btn-linkedin(href="auth/linkedin")
                            i.icon-linkedin  | Connect with LinkedIn

                    div.span2

                    div.span4
                        div.row
                            p.text-info Or use a local account
                        - if ('undefined' !== typeof errors && errors.length)
                            div#errors
                                - each error in errors
                                    div.alert.alert-error= error
                        form(action='', method='post')
                            #login
                                input.span4(type='text', name=everyauth.password.loginFormFieldName, value=email, placeholder="Username")
                            #password
                                input.span4(type='password', name=everyauth.password.passwordFormFieldName, placeholder="Password")
                            #submit
                                input.btn.btn-info.btn-block(type='submit') Sign in
            block footer
              include footer                                